.footer {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  height: 8rem;
  box-shadow: 0 4px 8px rgba(54, 52, 52, 0.1);
}

footer nav {
display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

footer nav ul {
  list-style: none;
  display: flex; 
  flex-direction: column;  
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 0 1rem;
}

a {
  margin: 0.5rem;
  text-decoration: none;
  color: rgb(12, 11, 11);
}

a:hover {
  border-bottom: 1px dashed white;
}

.active {
  color: rgb(255, 197, 90);
  border-bottom: 1px dashed maroon;
  font-weight: 600;
}
