/* Addemployee.css */
body {
  background-color: rgb(225, 216, 216);
}

.bodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(228, 228, 228);
}

.inputContainer {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  width: 400px;
}

.headContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.headContainer h1 {
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px 12px 0 0;
  border: 2px solid #ff4d4f;
  border-bottom: none;
  width: 400px;
  text-align: center;
  font-size: 24px;
  color: #333333;
}

.inputContainer form {
  display: flex;
  flex-direction: column;
}

.inputContainer input,
.inputContainer select {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.inputContainer button {
  padding: 12px;
  margin-top: 15px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.inputContainer button:hover {
  background-color: #d9363e;
}

.cancelbtn{
  padding: 12px;
  margin-top: 15px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 25rem;

}
